Repository Recipe-Web-App/recipe-ui-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, javascript, testing, frontend, hooks, api, state-management, types, styling, ci-cd, security

.github/labeler.yml:

# PR Labeler Configuration
# Automatically label pull requests based on changed files

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - 'docs/**'

# GitHub
github:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

# GitHub Actions
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'Dockerfile*'
          - 'docker-compose*.yml'
          - '.dockerignore'

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.yml'
          - '**/*.yaml'
          - '**/*.json'
          - '**/*.config.*'
          - '.env.example'
          - 'tsconfig*.json'

# JavaScript/TypeScript
javascript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/*.jsx'
          - '**/*.ts'
          - '**/*.tsx'
          - 'src/**'

# Tests
testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.*'
          - '**/*.spec.*'
          - 'tests/**'
          - '__tests__/**'
          - 'test/**'
          - 'jest.config.*'
          - 'playwright.config.*'
          - 'vitest.config.*'

# Components
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/components/**'
          - 'src/app/**'

# Hooks
hooks:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/hooks/**'

# API Integration
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/lib/api/**'

# State Management
state-management:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/stores/**'

# Types
types:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/types/**'
          - '**/*.d.ts'

# Styles
styling:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.css'
          - '**/*.scss'
          - '**/*.sass'
          - 'tailwind.config.*'
          - 'src/styles/**'

# CI/CD
ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/actions/**'

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'SECURITY.md'
          - '.github/workflows/security.yml'
          - '.github/workflows/codeql.yml'
          - '.secrets.baseline'
          - '.gitleaks*'

docs: updated claude.md
  CLAUDE.md
Labels: documentation

docs: updated all outdated docs
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  CHANGELOG.md
  README.md
  UI_GUIDE.md
  WORKFLOWS.md
  docs/components/README.md
  docs/components/accordion.md
  docs/components/alert.md
  docs/components/avatar.md
  docs/components/badge.md
  docs/components/button.md
  docs/components/card.md
  docs/components/dialog.md
  docs/components/dropdown.md
  docs/components/grid.md
  docs/components/input.md
  docs/components/navigation.md
  docs/components/progress.md
  docs/components/select.md
  docs/components/tabs.md
  docs/components/textarea.md
  docs/components/tooltip.md
Labels: documentation, github

Doc update (#211)
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  UI_GUIDE.md
  WORKFLOWS.md
  docs/components/README.md
  docs/components/accordion.md
  docs/components/alert.md
  docs/components/avatar.md
  docs/components/badge.md
  docs/components/button.md
  docs/components/card.md
  docs/components/dialog.md
  docs/components/dropdown.md
  docs/components/grid.md
  docs/components/input.md
  docs/components/navigation.md
  docs/components/progress.md
  docs/components/select.md
  docs/components/tabs.md
  docs/components/textarea.md
  docs/components/tooltip.md
Labels: documentation, github

chore(fav-collections): added downstream client for collection favorite endpoints
  src/constants/index.ts
  src/hooks/recipe-management/useCollections.ts
  src/lib/api/recipe-management/collections.ts
  tests/unit/hooks/recipe-management/useCollections.test.tsx
  tests/unit/lib/api/recipe-management/collections.test.ts
Labels: javascript, testing, hooks, api

chore(fav-collections): added downstream client for collection favorite endpoints (#212)
  src/constants/index.ts
  src/hooks/recipe-management/useCollections.ts
  src/lib/api/recipe-management/collections.ts
  tests/unit/hooks/recipe-management/useCollections.test.tsx
  tests/unit/lib/api/recipe-management/collections.test.ts
Labels: javascript, testing, hooks, api

docs(openapi): added open api specification
  docs/api/openapi.yaml
Labels: documentation, configuration

docs(openapi): added open api specification (#213)
  docs/api/openapi.yaml
Labels: documentation, configuration

ci(renovate): fixed config validation error for renovate
  .github/renovate.json
Labels: github, configuration

ci(renovate): fixed config validation error for renovate (#240)
  .github/renovate.json
Labels: github, configuration

ci(renovate): added pre-commit to renovate config
  .github/renovate.json
  .pre-commit-config.yaml
Labels: github, configuration

ci(renovate): added pre-commit to renovate config (#241)
  .github/renovate.json
  .pre-commit-config.yaml
Labels: github, configuration

chore(ops-cli): removed gateway config from project
  k8s/gateway-route.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/update-container.sh
Labels: configuration

fix: fixed docker build issues
  Dockerfile
  Dockerfile.dev
  package-lock.json
Labels: dependencies, docker, configuration

Kong migration (#253)
  Dockerfile
  Dockerfile.dev
  k8s/gateway-route.yaml
  package-lock.json
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/update-container.sh
Labels: dependencies, docker, configuration

bd migrate-sync: initial sync branch setup
  .beads/issues.jsonl
  .beads/metadata.json
Labels: configuration

feat(beads): integrated beads with repository
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration

feat(beads): integrated beads with repository (#255)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration

chore: updated claude config
  CLAUDE.md
Labels: documentation

chore: updated claude config (#256)
  CLAUDE.md
Labels: documentation

fix(bun-lock): fixed bun lock deployment issue
  bun.lock
Labels: none

fix(bun-lock): fixed bun lock deployment issue (#272)
  bun.lock
Labels: none

bd daemon sync: 2026-02-06 16:47:23
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:49:27
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:49:33
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:06
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:10
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:14
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:19
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:22
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:26
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:29
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:32
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:35
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:39
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:40
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:42
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:45
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:46
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:49
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:50:54
  .beads/issues.jsonl
Labels: none
