Repository Recipe-Web-App/recipe-ui-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, javascript, testing, frontend, hooks, api, state-management, types, styling, ci-cd, security

.github/labeler.yml:

# PR Labeler Configuration
# Automatically label pull requests based on changed files

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - 'docs/**'

# GitHub
github:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

# GitHub Actions
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'Dockerfile*'
          - 'docker-compose*.yml'
          - '.dockerignore'

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.yml'
          - '**/*.yaml'
          - '**/*.json'
          - '**/*.config.*'
          - '.env.example'
          - 'tsconfig*.json'

# JavaScript/TypeScript
javascript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/*.jsx'
          - '**/*.ts'
          - '**/*.tsx'
          - 'src/**'

# Tests
testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.*'
          - '**/*.spec.*'
          - 'tests/**'
          - '__tests__/**'
          - 'test/**'
          - 'jest.config.*'
          - 'playwright.config.*'
          - 'vitest.config.*'

# Components
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/components/**'
          - 'src/app/**'

# Hooks
hooks:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/hooks/**'

# API Integration
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/lib/api/**'

# State Management
state-management:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/stores/**'

# Types
types:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/types/**'
          - '**/*.d.ts'

# Styles
styling:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.css'
          - '**/*.scss'
          - '**/*.sass'
          - 'tailwind.config.*'
          - 'src/styles/**'

# CI/CD
ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/actions/**'

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'SECURITY.md'
          - '.github/workflows/security.yml'
          - '.github/workflows/codeql.yml'
          - '.secrets.baseline'
          - '.gitleaks*'

chore: auto updated all pre commit hooks
  .markdownlint.json
  .pre-commit-config.yaml
Labels: configuration

chore: auto updated all pre commit hooks (#184)
  .markdownlint.json
  .pre-commit-config.yaml
Labels: configuration

feat(create-collection): added common tag component
  src/components/collection/create/BasicInfoSection.tsx
  src/components/recipe/create/steps/ReviewStep.tsx
  src/components/ui/tag-input.tsx
  src/types/ui/index.ts
  src/types/ui/tag-input.types.ts
  tests/unit/components/collection/create/BasicInfoSection.test.tsx
  tests/unit/components/ui/TagInput.test.tsx
Labels: javascript, testing, frontend, types

fix: fixed issue with recipe search results not being displayed
  src/app/(main)/recipes/my-recipes/page.tsx
  src/components/collection/create/RecipePickerSection.tsx
  src/hooks/forms/useRecipeForm.ts
  src/hooks/recipe-management/useRecipes.ts
  src/lib/api/recipe-management/users.ts
  src/types/recipe-management/search.ts
  tests/unit/app/recipes/my-recipes/page.test.tsx
  tests/unit/app/recipes/trending/page.test.tsx
  tests/unit/components/collection/create/RecipePickerSection.test.tsx
  tests/unit/hooks/recipe-management/useRecipes.test.tsx
  tests/unit/hooks/recipe-management/useSearch.test.tsx
  tests/unit/hooks/recipe-management/useUsers.test.tsx
  tests/unit/lib/api/recipe-management/recipes.test.ts
  tests/unit/lib/api/recipe-management/search.test.ts
  tests/unit/lib/api/recipe-management/users.test.ts
Labels: javascript, testing, frontend, hooks, api, types

refactor(create-collection): refactored search to provide default suggestions & limit backend calls
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/components/collection/create/RecipePickerSection.tsx
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useRecipes.ts
  src/hooks/user-management/index.ts
  src/hooks/user-management/useUser.ts
  tests/unit/components/collection/create/CollaboratorPickerSection.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
  tests/unit/components/collection/create/RecipePickerSection.test.tsx
Labels: javascript, testing, frontend, hooks

feat(create-collection): added create collection page
  src/app/(main)/collections/create/page.tsx
  src/components/collection/create/BasicInfoSection.tsx
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/components/collection/create/CollectionPreview.tsx
  src/components/collection/create/CreateCollectionForm.tsx
  src/components/collection/create/RecipePickerSection.tsx
  src/components/collection/create/RecipeSearchResults.tsx
  src/components/collection/create/SelectedRecipesList.tsx
  src/components/collection/create/index.ts
  src/hooks/recipe-management/index.ts
  src/lib/validation/create-collection-schemas.ts
  src/stores/collection-store.ts
  src/types/collection/create-collection-form.ts
  tests/unit/components/collection/create/BasicInfoSection.test.tsx
  tests/unit/components/collection/create/CollaboratorPickerSection.test.tsx
  tests/unit/components/collection/create/CollectionPreview.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
  tests/unit/components/collection/create/RecipePickerSection.test.tsx
  tests/unit/components/collection/create/RecipeSearchResults.test.tsx
  tests/unit/components/collection/create/SelectedRecipesList.test.tsx
  tests/unit/lib/validation/create-collection-schemas.test.ts
  tests/unit/stores/collection-store.test.ts
Labels: javascript, testing, frontend, hooks, state-management, types

fix(create-collection): fixed issue with user search results not being displayed
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/types/user-management/user.ts
  tests/unit/components/collection/create/CollaboratorPickerSection.test.tsx
  tests/unit/hooks/user-management/useUser.test.tsx
  tests/unit/lib/api/user-management/users.test.ts
  tests/unit/types/user-management/user.test.ts
Labels: javascript, testing, frontend, types

refactor(create-collection): moved add-collaborator component over add-recipe component
  src/components/collection/create/CreateCollectionForm.tsx
Labels: javascript, frontend

chore(create-collection): updated user search to exclude current user
  src/components/collection/create/CollaboratorPickerSection.tsx
  tests/unit/components/collection/create/CollaboratorPickerSection.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
Labels: javascript, testing, frontend

refactor(create-collection): changed checklist input components to match recipe creation form
  src/components/collection/create/BasicInfoSection.tsx
  tests/unit/components/collection/create/BasicInfoSection.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
Labels: javascript, testing, frontend

feat(create-collection): added collection draft feature with auto-save
  src/app/(main)/collections/page.tsx
  src/components/collection/CollectionDraftBanner.tsx
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/components/collection/create/CreateCollectionForm.tsx
  src/components/collection/create/RecipePickerSection.tsx
  src/components/collection/index.ts
  tests/unit/components/collection/CollectionDraftBanner.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
Labels: javascript, testing, frontend

refactor(create-collection): optimized downstream calls
  src/components/collection/create/CreateCollectionForm.tsx
  src/hooks/recipe-management/useCollections.ts
  src/types/recipe-management/collection.ts
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
  tests/unit/lib/api/recipe-management/collections.test.ts
Labels: javascript, testing, frontend, hooks, types

fix(create-collection): clear draft on successful collection creation
  src/components/collection/create/CreateCollectionForm.tsx
Labels: javascript, frontend

fix(create-collection): clear draft on successful collection creation (#187)
  src/components/collection/create/CreateCollectionForm.tsx
Labels: javascript, frontend

feat(browse-my-collections): implemented browse my collections page
  .gitignore
  .pre-commit-config.yaml
  src/app/(main)/collections/my-collections/page.tsx
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useUsers.ts
  src/lib/api/recipe-management/users.ts
  tests/unit/app/collections/my-collections/page.test.tsx
  tests/unit/hooks/recipe-management/useUsers.test.tsx
  tests/unit/lib/api/recipe-management/users.test.ts
Labels: configuration, javascript, testing, frontend, hooks, api

feat(browse-my-collections): implemented browse my collections page (#188)
  .gitignore
  .pre-commit-config.yaml
  src/app/(main)/collections/my-collections/page.tsx
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useUsers.ts
  src/lib/api/recipe-management/users.ts
  tests/unit/app/collections/my-collections/page.test.tsx
  tests/unit/hooks/recipe-management/useUsers.test.tsx
  tests/unit/lib/api/recipe-management/users.test.ts
Labels: configuration, javascript, testing, frontend, hooks, api

feat(kong): migrated service from ingress nginx to kong gateway
  .gitignore
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
Labels: configuration

refactor(kong): updated service host references to use kong proxy
  src/config/services.ts
  src/lib/proxy/headers.ts
  tests/unit/config/services.test.ts
  tests/unit/lib/api/media-management/client.test.ts
  tests/unit/lib/api/notification/client.test.ts
  tests/unit/lib/api/recipe-management/client.test.ts
  tests/unit/lib/api/recipe-scraper/client.test.ts
  tests/unit/lib/api/shared/token-refresh-interceptor.test.ts
  tests/unit/lib/api/user-management/client.test.ts
  tests/unit/lib/proxy/headers.test.ts
Labels: javascript, testing

Kong migration (#192)
  .gitignore
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
  src/config/services.ts
  src/lib/proxy/headers.ts
  tests/unit/config/services.test.ts
  tests/unit/lib/api/media-management/client.test.ts
  tests/unit/lib/api/notification/client.test.ts
  tests/unit/lib/api/recipe-management/client.test.ts
  tests/unit/lib/api/recipe-scraper/client.test.ts
  tests/unit/lib/api/shared/token-refresh-interceptor.test.ts
  tests/unit/lib/api/user-management/client.test.ts
  tests/unit/lib/proxy/headers.test.ts
Labels: configuration, javascript, testing

fix: fixed algorithm for head usage check in health/metric endpoints
  src/app/api/v1/recipe-ui/health/live/route.ts
  src/app/api/v1/recipe-ui/health/ready/route.ts
  src/app/api/v1/recipe-ui/health/route.ts
  src/app/api/v1/recipe-ui/metrics/route.ts
Labels: javascript, frontend

fix: fixed algorithm for head usage check in health/metric endpoints (#193)
  src/app/api/v1/recipe-ui/health/live/route.ts
  src/app/api/v1/recipe-ui/health/ready/route.ts
  src/app/api/v1/recipe-ui/health/route.ts
  src/app/api/v1/recipe-ui/metrics/route.ts
Labels: javascript, frontend

refactor(bun-migration): migrate core app framework to bun
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/license-check.yml
  .github/workflows/maintenance.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test-suite.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.dev
  bun.lock
  k8s/deployment.yaml
  lighthouserc.js
  package-lock.json
  package.json
  playwright.config.ts
  tests/performance/bundle-size/bundle.test.js
  tests/performance/lighthouse/config.js
  tests/performance/load-testing/load.test.js
Labels: dependencies, github, github-actions, docker, configuration, javascript, testing, ci-cd, security

refactor(bun-migration): migrate core app framework to bun (#195)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/license-check.yml
  .github/workflows/maintenance.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test-suite.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.dev
  bun.lock
  k8s/deployment.yaml
  lighthouserc.js
  package-lock.json
  package.json
  playwright.config.ts
  tests/performance/bundle-size/bundle.test.js
  tests/performance/lighthouse/config.js
  tests/performance/load-testing/load.test.js
Labels: dependencies, github, github-actions, docker, configuration, javascript, testing, ci-cd, security

ci(renovate): migrated from dependabot to renovate for bun support
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/renovate-auto-merge.yml
Labels: github, github-actions, configuration, ci-cd

ci(renovate): migrated from dependabot to renovate for bun support (#200)
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/renovate-auto-merge.yml
Labels: github, github-actions, configuration, ci-cd

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema
  src/hooks/forms/useProfileForm.ts
  src/hooks/user-management/index.ts
  src/hooks/user-management/useAdmin.ts
  src/hooks/user-management/usePreferences.ts
  src/hooks/user-management/useSocial.ts
  src/hooks/user-management/useUser.ts
  src/lib/api/user-management/admin.ts
  src/lib/api/user-management/client.ts
  src/lib/api/user-management/health.ts
  src/lib/api/user-management/index.ts
  src/lib/api/user-management/metrics.ts
  src/lib/api/user-management/preferences.ts
  src/lib/api/user-management/social.ts
  src/lib/api/user-management/users.ts
  src/types/user-management/admin.ts
  src/types/user-management/common.ts
  src/types/user-management/health.ts
  src/types/user-management/index.ts
  src/types/user-management/metrics.ts
  src/types/user-management/preferences.ts
  tests/unit/hooks/user-management/useAdmin.test.tsx
  tests/unit/hooks/user-management/usePreferences.test.tsx
  tests/unit/hooks/user-management/useSocial.test.tsx
  tests/unit/hooks/user-management/useUser.test.tsx
  tests/unit/lib/api/user-management/admin.test.ts
  tests/unit/lib/api/user-management/client.test.ts
  tests/unit/lib/api/user-management/health.test.ts
  tests/unit/lib/api/user-management/metrics.test.ts
  tests/unit/lib/api/user-management/preferences.test.ts
  tests/unit/lib/api/user-management/social.test.ts
  tests/unit/lib/api/user-management/users.test.ts
  tests/unit/types/user-management/admin.test.ts
  tests/unit/types/user-management/common.test.ts
  tests/unit/types/user-management/health.test.ts
  tests/unit/types/user-management/metrics.test.ts
Labels: javascript, testing, hooks, api, types

refactor(user-preferences): removed legacy preference references & updated components
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/hooks/forms/useProfileForm.ts
  src/hooks/user-management/index.ts
  src/hooks/user-management/useUserPreferences.ts
  src/lib/api/user-management/index.ts
  src/lib/api/user-management/notifications.ts
  src/stores/preferences-store.ts
  src/types/user-management/index.ts
  src/types/user-management/user.ts
  tests/unit/hooks/user-management/useUserPreferences.test.tsx
  tests/unit/lib/api/user-management/notifications.test.ts
  tests/unit/stores/preferences-store.test.ts
  tests/unit/types/user-management/user.test.ts
Labels: javascript, testing, frontend, hooks, api, state-management, types

refactor(auth): updated auth-service client to support refactored schema
  src/constants/index.ts
  src/hooks/auth/index.ts
  src/hooks/auth/useAdmin.ts
  src/hooks/auth/useOAuth2.ts
  src/lib/api/auth/admin.ts
  src/lib/api/auth/index.ts
  src/lib/api/auth/oauth2.ts
  src/types/auth/admin.ts
  src/types/auth/client.ts
  src/types/auth/health.ts
  src/types/auth/index.ts
  tests/unit/lib/api/auth/admin.test.ts
  tests/unit/lib/api/auth/health.test.ts
  tests/unit/lib/api/auth/oauth2.test.ts
Labels: javascript, testing, hooks, api, types

refactor(auth): updated auth-service client to support refactored schema (#204)
  src/constants/index.ts
  src/hooks/auth/index.ts
  src/hooks/auth/useAdmin.ts
  src/hooks/auth/useOAuth2.ts
  src/lib/api/auth/admin.ts
  src/lib/api/auth/index.ts
  src/lib/api/auth/oauth2.ts
  src/types/auth/admin.ts
  src/types/auth/client.ts
  src/types/auth/health.ts
  src/types/auth/index.ts
  tests/unit/lib/api/auth/admin.test.ts
  tests/unit/lib/api/auth/health.test.ts
  tests/unit/lib/api/auth/oauth2.test.ts
Labels: javascript, testing, hooks, api, types

chore(fav-collections): added downstream client for collection favorite endpoints
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useCollectionFavorites.ts
  src/lib/api/recipe-management/collection-favorites.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/collection-favorite.ts
  src/types/recipe-management/index.ts
  tests/unit/hooks/recipe-management/useCollectionFavorites.test.tsx
  tests/unit/lib/api/recipe-management/collection-favorites.test.ts
Labels: javascript, testing, hooks, api, types

chore(fav-collections): added downstream client for collection favorite endpoints (#205)
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useCollectionFavorites.ts
  src/lib/api/recipe-management/collection-favorites.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/collection-favorite.ts
  src/types/recipe-management/index.ts
  tests/unit/hooks/recipe-management/useCollectionFavorites.test.tsx
  tests/unit/lib/api/recipe-management/collection-favorites.test.ts
Labels: javascript, testing, hooks, api, types

feat(browse-fav-collections): implemented browse-favorite-collections-page
  src/app/(main)/collections/favorites/page.tsx
  src/app/(main)/collections/my-collections/page.tsx
  src/app/(main)/recipes/my-recipes/page.tsx
  tests/unit/app/collections/favorites/page.test.tsx
  tests/unit/app/recipes/my-recipes/page.test.tsx
Labels: javascript, testing, frontend

feat(browse-fav-collections): implemented browse-favorite-collections-page (#207)
  src/app/(main)/collections/favorites/page.tsx
  src/app/(main)/collections/my-collections/page.tsx
  src/app/(main)/recipes/my-recipes/page.tsx
  tests/unit/app/collections/favorites/page.test.tsx
  tests/unit/app/recipes/my-recipes/page.test.tsx
Labels: javascript, testing, frontend

refactor: removed pages for popular collections & popular meal plans
  src/app/(main)/collections/popular/page.tsx
  src/app/(main)/meal-plans/popular/page.tsx
  src/app/sitemap.ts
  src/config/navigation.ts
  tests/unit/config/navigation.test.ts
Labels: javascript, testing, frontend

refactor: removed pages for popular collections & popular meal plans (#208)
  src/app/(main)/collections/popular/page.tsx
  src/app/(main)/meal-plans/popular/page.tsx
  src/app/sitemap.ts
  src/config/navigation.ts
  tests/unit/config/navigation.test.ts
Labels: javascript, testing, frontend

chore(collection-tags): updated recipe-mgmt client to support collectiont tags
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useCollectionTags.ts
  src/lib/api/recipe-management/collection-tags.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/collection.ts
  tests/unit/hooks/recipe-management/useCollectionTags.test.tsx
  tests/unit/lib/api/recipe-management/collection-tags.test.ts
Labels: javascript, testing, hooks, api, types

fix(collection-tags): updated create collection form to pass tags to backend
  src/components/collection/create/CreateCollectionForm.tsx
Labels: javascript, frontend

Recipe mgmt client update (#209)
  src/components/collection/create/CreateCollectionForm.tsx
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useCollectionTags.ts
  src/lib/api/recipe-management/collection-tags.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/collection.ts
  tests/unit/hooks/recipe-management/useCollectionTags.test.tsx
  tests/unit/lib/api/recipe-management/collection-tags.test.ts
Labels: javascript, testing, frontend, hooks, api, types

chore(meal-plan-mgmt): updated meal plan mgmt client to support trending plans & tags
  src/constants/index.ts
  src/hooks/meal-plan-management/index.ts
  src/hooks/meal-plan-management/use-favorites.ts
  src/hooks/meal-plan-management/use-tags.ts
  src/hooks/meal-plan-management/use-trending.ts
  src/lib/api/meal-plan-management/favorites.ts
  src/lib/api/meal-plan-management/index.ts
  src/lib/api/meal-plan-management/meal-plans.ts
  src/lib/api/meal-plan-management/tags.ts
  src/lib/api/meal-plan-management/trending.ts
  src/types/meal-plan-management/favorites.ts
  src/types/meal-plan-management/index.ts
  src/types/meal-plan-management/meal-plan.ts
  src/types/meal-plan-management/requests.ts
  src/types/meal-plan-management/tags.ts
  tests/unit/hooks/meal-plan-management/use-favorites.test.tsx
  tests/unit/hooks/meal-plan-management/use-tags.test.tsx
  tests/unit/hooks/meal-plan-management/use-trending.test.tsx
  tests/unit/lib/api/meal-plan-management/favorites.test.ts
  tests/unit/lib/api/meal-plan-management/tags.test.ts
  tests/unit/lib/api/meal-plan-management/trending.test.ts
Labels: javascript, testing, hooks, api, types

chore(meal-plan-mgmt): updated meal plan mgmt client to support trending plans & tags (#210)
  src/constants/index.ts
  src/hooks/meal-plan-management/index.ts
  src/hooks/meal-plan-management/use-favorites.ts
  src/hooks/meal-plan-management/use-tags.ts
  src/hooks/meal-plan-management/use-trending.ts
  src/lib/api/meal-plan-management/favorites.ts
  src/lib/api/meal-plan-management/index.ts
  src/lib/api/meal-plan-management/meal-plans.ts
  src/lib/api/meal-plan-management/tags.ts
  src/lib/api/meal-plan-management/trending.ts
  src/types/meal-plan-management/favorites.ts
  src/types/meal-plan-management/index.ts
  src/types/meal-plan-management/meal-plan.ts
  src/types/meal-plan-management/requests.ts
  src/types/meal-plan-management/tags.ts
  tests/unit/hooks/meal-plan-management/use-favorites.test.tsx
  tests/unit/hooks/meal-plan-management/use-tags.test.tsx
  tests/unit/hooks/meal-plan-management/use-trending.test.tsx
  tests/unit/lib/api/meal-plan-management/favorites.test.ts
  tests/unit/lib/api/meal-plan-management/tags.test.ts
  tests/unit/lib/api/meal-plan-management/trending.test.ts
Labels: javascript, testing, hooks, api, types
