Repository Recipe-Web-App/recipe-ui-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, javascript, testing, frontend, hooks, api, state-management, types, styling, ci-cd, security

feat(site-map): updated sitemap config with latest routes
  src/app/robots.ts
  src/app/sitemap.ts
Labels: javascript, frontend

fix: fixed auth refresh bug
  src/lib/api/shared/token-refresh-interceptor.ts
Labels: javascript, api

feat(logo): added custom favorites icon
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon-192.png
  src/app/icon-512.png
  src/app/icon.png
  src/app/manifest.ts
  src/constants/routes.ts
  src/proxy.ts
  tests/unit/constants/routes.test.ts
Labels: javascript, testing, frontend

feat(logo): added new site logo
  public/site-logo.png
  src/app/(main)/home/page.tsx
  src/components/layout/top-nav.tsx
Labels: javascript, frontend

refactor(logo): changed image file format & sizes
  public/site-logo.png
  public/site-logo.webp
  src/app/(main)/home/page.tsx
  src/app/apple-icon.png
  src/app/icon-192.png
  src/app/icon-512.png
  src/app/icon.ico
  src/app/icon.png
  src/app/manifest.ts
  src/components/layout/top-nav.tsx
  tests/unit/components/layout/top-nav.test.tsx
Labels: javascript, testing, frontend

fix(logo): fixed fav icon
  public/apple-icon.png
  public/favicon.ico
  public/file.svg
  public/globe.svg
  public/icon-192.png
  public/icon-512.png
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/layout.tsx
  src/app/manifest.ts
Labels: javascript, frontend

feat(logo): added new logo to login page
  src/app/(auth)/login/page.tsx
Labels: javascript, frontend

refactor(logo): tweaked logo layout in UI
  src/app/(auth)/login/page.tsx
  src/app/(main)/home/page.tsx
  src/components/layout/top-nav.tsx
Labels: javascript, frontend

chore: fixed deprecated dependency issues
  package-lock.json
  package.json
Labels: dependencies, configuration

feat(get-my-recipes): added hook for new get-my-recipes endpoint
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useUsers.ts
  src/lib/api/recipe-management/index.ts
  src/lib/api/recipe-management/users.ts
  tests/unit/hooks/recipe-management/useUsers.test.tsx
  tests/unit/lib/api/recipe-management/users.test.ts
Labels: javascript, testing, hooks, api

fix: fixed FormField build issue
  src/components/forms/FormField.tsx
Labels: javascript, frontend

feat(browse-my-recipes): implemented browse-my-recipes-page
  src/app/(main)/recipes/my-recipes/page.tsx
  src/components/recipe/BulkActionToolbar.tsx
  src/components/recipe/DraftBanner.tsx
  tests/unit/app/recipes/my-recipes/page.test.tsx
  tests/unit/components/recipe/BulkActionToolbar.test.tsx
  tests/unit/components/recipe/DraftBanner.test.tsx
Labels: javascript, testing, frontend

feat(browse-fav-recipes): implemented browse-favorite-recipes-page
  src/app/(main)/recipes/favorites/page.tsx
  tests/unit/app/recipes/favorites/page.test.tsx
Labels: javascript, testing, frontend

fix: fixed recipe-scraper-service paths
  src/lib/api/recipe-scraper/admin.ts
  src/lib/api/recipe-scraper/health.ts
  src/lib/api/recipe-scraper/ingredients.ts
  src/lib/api/recipe-scraper/nutrition.ts
  src/lib/api/recipe-scraper/pairing.ts
  src/lib/api/recipe-scraper/recipes.ts
  src/lib/api/recipe-scraper/shopping.ts
  tests/unit/lib/api/recipe-scraper/admin.test.ts
  tests/unit/lib/api/recipe-scraper/health.test.ts
  tests/unit/lib/api/recipe-scraper/ingredients.test.ts
  tests/unit/lib/api/recipe-scraper/nutrition.test.ts
  tests/unit/lib/api/recipe-scraper/pairing.test.ts
  tests/unit/lib/api/recipe-scraper/recipes.test.ts
  tests/unit/lib/api/recipe-scraper/shopping.test.ts
Labels: javascript, testing, api

fix: fixed recipe-scraper-service host
  src/config/services.ts
  tests/unit/config/services.test.ts
  tests/unit/lib/api/recipe-scraper/client.test.ts
Labels: javascript, testing

feat(browse-pop-recipes): implemented browse-popular-recipes-page
  src/app/(main)/recipes/popular/page.tsx
  src/components/recipe/WebRecipeBrowseGrid.tsx
  src/components/recipe/WebRecipeBrowseList.tsx
  src/components/recipe/WebRecipeCard.tsx
  src/components/recipe/WebRecipeListItem.tsx
  src/lib/ui/web-recipe-card-variants.ts
  src/types/recipe/web-recipe-browse.ts
  src/types/ui/web-recipe-card.ts
  tests/unit/components/recipe/WebRecipeBrowseGrid.test.tsx
  tests/unit/components/recipe/WebRecipeBrowseList.test.tsx
  tests/unit/components/recipe/WebRecipeCard.test.tsx
  tests/unit/components/recipe/WebRecipeListItem.test.tsx
Labels: javascript, testing, frontend, types

fix: fixed type mismatch on get-my-recipes page
  src/lib/api/recipe-management/users.ts
  tests/unit/lib/api/recipe-management/users.test.ts
Labels: javascript, testing, api

test: addressed test coverage issue
  tests/unit/lib/api/recipe-management/users.test.ts
Labels: javascript, testing

feat(get-trending-recipes): implemented hook for get trending recipes endpoint
  src/constants/index.ts
  src/hooks/recipe-management/useRecipes.ts
  src/lib/api/recipe-management/recipes.ts
  tests/unit/hooks/recipe-management/useRecipes.test.tsx
  tests/unit/lib/api/recipe-management/recipes.test.ts
Labels: javascript, testing, hooks, api

feat(browse-trending-recipes): added browse trending recipes page
  src/app/(main)/recipes/trending/page.tsx
  src/hooks/recipe-management/index.ts
  tests/unit/app/recipes/trending/page.test.tsx
Labels: javascript, testing, frontend, hooks

feat(create-recipe): added create recipe page with wizard
  jest.setup.js
  package-lock.json
  package.json
  src/app/(main)/recipes/create/page.tsx
  src/components/recipe/create/CreateRecipeWizard.tsx
  src/components/recipe/create/index.ts
  src/components/recipe/create/steps/BasicInfoStep.tsx
  src/components/recipe/create/steps/IngredientsStep.tsx
  src/components/recipe/create/steps/InstructionsStep.tsx
  src/components/recipe/create/steps/ReviewStep.tsx
  src/components/recipe/create/steps/TimingStep.tsx
  src/components/recipe/create/steps/index.ts
  src/components/ui/sortable-list.tsx
  src/hooks/forms/useAutoSave.ts
  src/lib/ui/sortable-list-variants.ts
  src/lib/ui/sortable-utils.ts
  src/lib/ui/stepper-variants.ts
  src/lib/validation/create-recipe-wizard-schemas.ts
  src/types/recipe/create-recipe-wizard.ts
  src/types/ui/sortable-list.ts
  tests/unit/components/recipe/create/steps/BasicInfoStep.test.tsx
  tests/unit/components/recipe/create/steps/IngredientsStep.test.tsx
  tests/unit/components/recipe/create/steps/InstructionsStep.test.tsx
  tests/unit/components/recipe/create/steps/ReviewStep.test.tsx
  tests/unit/components/recipe/create/steps/TimingStep.test.tsx
  tests/unit/hooks/forms/useAutoSave.test.ts
  tests/unit/lib/ui/sortable-utils.test.ts
  tests/unit/lib/validation/create-recipe-wizard-schemas.test.ts
  tests/unit/types/recipe/create-recipe-wizard.test.ts
Labels: dependencies, configuration, javascript, testing, frontend, hooks, types

refactor(create-recipe): moved next/prev buttons to better position
  src/components/recipe/create/CreateRecipeWizard.tsx
Labels: javascript, frontend

refactor(create-recipe): usability updates to time & servings form
  src/components/recipe/create/steps/TimingStep.tsx
  src/components/ui/stepper.tsx
  tests/unit/components/recipe/create/steps/TimingStep.test.tsx
Labels: javascript, testing, frontend

refactor(create-recipe): usability updates to ingredients form
  src/components/recipe/create/steps/IngredientsStep.tsx
  src/components/ui/quantity-input.tsx
  src/lib/ui/quantity-input-variants.ts
  src/lib/utils/smart-step.ts
  src/types/ui/quantity-input.ts
  tests/unit/components/recipe/create/steps/IngredientsStep.test.tsx
  tests/unit/components/ui/quantity-input.test.tsx
  tests/unit/lib/utils/smart-step.test.ts
Labels: javascript, testing, frontend, types

fix(create-recipe): fixed instruction UI reload bug
  src/components/recipe/create/steps/InstructionsStep.tsx
  tests/unit/components/ui/Textarea.test.tsx
Labels: javascript, testing, frontend

refactor(create-recipe): form validation upgrades
  src/components/recipe/create/CreateRecipeWizard.tsx
  src/components/recipe/create/steps/InstructionsStep.tsx
  src/components/recipe/create/steps/TimingStep.tsx
  src/components/ui/quantity-input.tsx
  src/lib/validation/create-recipe-wizard-schemas.ts
  src/lib/validation/recipe-schemas.ts
  src/types/recipe/create-recipe-wizard.ts
  tests/unit/components/recipe/create/steps/TimingStep.test.tsx
  tests/unit/lib/validation/create-recipe-wizard-schemas.test.ts
  tests/unit/lib/validation/recipe-schemas.test.ts
Labels: javascript, testing, frontend, types

refactor(create-recipe): usability updates to tag input
  src/components/recipe/create/steps/ReviewStep.tsx
  tests/unit/components/recipe/create/steps/ReviewStep.test.tsx
Labels: javascript, testing, frontend

fix(create-recipe): removed empty string ingredient notes from request payload
  src/types/recipe/create-recipe-wizard.ts
  tests/unit/types/recipe/create-recipe-wizard.test.ts
Labels: javascript, testing, types

refactor(create-recipe): added duplicate ingredient validation
  src/lib/validation/create-recipe-wizard-schemas.ts
  tests/unit/lib/validation/create-recipe-wizard-schemas.test.ts
Labels: javascript, testing

refactor(create-recipe): added duplicate tag validation
  src/components/recipe/create/steps/ReviewStep.tsx
  tests/unit/components/recipe/create/steps/ReviewStep.test.tsx
Labels: javascript, testing, frontend

fix(create-recipe): fixed issues with stepper progress state
  src/components/recipe/create/CreateRecipeWizard.tsx
  src/components/ui/stepper.tsx
  src/types/ui/stepper.ts
  tests/unit/components/recipe/create/CreateRecipeWizard.test.tsx
  tests/unit/components/ui/Stepper.test.tsx
Labels: javascript, testing, frontend, types

refactor(create-recipe): made all necessary fields for request required
  src/components/recipe/create/steps/BasicInfoStep.tsx
  src/components/recipe/create/steps/TimingStep.tsx
  src/lib/validation/recipe-schemas.ts
  src/types/recipe/create-recipe-wizard.ts
  tests/unit/components/recipe/create/steps/BasicInfoStep.test.tsx
  tests/unit/components/recipe/create/steps/TimingStep.test.tsx
  tests/unit/lib/validation/create-recipe-wizard-schemas.test.ts
  tests/unit/lib/validation/recipe-schemas.test.ts
  tests/unit/types/recipe/create-recipe-wizard.test.ts
Labels: javascript, testing, frontend, types

refactor(create-recipe): rearranged recipe wizard steps
  src/lib/validation/create-recipe-wizard-schemas.ts
  src/types/recipe/create-recipe-wizard.ts
  tests/unit/lib/validation/create-recipe-wizard-schemas.test.ts
  tests/unit/types/recipe/create-recipe-wizard.test.ts
Labels: javascript, testing, types

feat(view-recipe): added view recipe page
  src/app/(main)/recipes/[id]/page.tsx
  src/components/forms/ReviewForm.tsx
  src/components/recipe/view/IngredientItem.tsx
  src/components/recipe/view/InstructionStep.tsx
  src/components/recipe/view/RecipeActions.tsx
  src/components/recipe/view/RecipeMetadata.tsx
  src/components/recipe/view/RecipeViewPage.tsx
  src/components/recipe/view/RecipeViewSkeleton.tsx
  src/components/recipe/view/ReviewItem.tsx
  src/components/recipe/view/ReviewModal.tsx
  src/components/recipe/view/ServingsScaler.tsx
  src/components/recipe/view/StarRatingDisplay.tsx
  src/components/recipe/view/TagsSection.tsx
  src/components/recipe/view/index.ts
  src/hooks/use-session-storage.ts
  src/lib/validation/review-schemas.ts
  tests/unit/app/recipes/[id]/page.test.tsx
  tests/unit/components/recipe/view/IngredientItem.test.tsx
  tests/unit/components/recipe/view/InstructionStep.test.tsx
  tests/unit/components/recipe/view/RecipeActions.test.tsx
  tests/unit/components/recipe/view/RecipeMetadata.test.tsx
  tests/unit/components/recipe/view/RecipeViewPage.test.tsx
  tests/unit/components/recipe/view/RecipeViewSkeleton.test.tsx
  tests/unit/components/recipe/view/ReviewItem.test.tsx
  tests/unit/components/recipe/view/ReviewModal.test.tsx
  tests/unit/components/recipe/view/ServingsScaler.test.tsx
  tests/unit/components/recipe/view/StarRatingDisplay.test.tsx
  tests/unit/components/recipe/view/TagsSection.test.tsx
  tests/unit/hooks/use-session-storage.test.ts
  tests/unit/lib/validation/review-schemas.test.ts
Labels: javascript, testing, frontend, hooks

feat(view-recipe): added view recipe page (#176)
  src/app/(main)/recipes/[id]/page.tsx
  src/components/forms/ReviewForm.tsx
  src/components/recipe/view/IngredientItem.tsx
  src/components/recipe/view/InstructionStep.tsx
  src/components/recipe/view/RecipeActions.tsx
  src/components/recipe/view/RecipeMetadata.tsx
  src/components/recipe/view/RecipeViewPage.tsx
  src/components/recipe/view/RecipeViewSkeleton.tsx
  src/components/recipe/view/ReviewItem.tsx
  src/components/recipe/view/ReviewModal.tsx
  src/components/recipe/view/ServingsScaler.tsx
  src/components/recipe/view/StarRatingDisplay.tsx
  src/components/recipe/view/TagsSection.tsx
  src/components/recipe/view/index.ts
  src/hooks/use-session-storage.ts
  src/lib/validation/review-schemas.ts
  tests/unit/app/recipes/[id]/page.test.tsx
  tests/unit/components/recipe/view/IngredientItem.test.tsx
  tests/unit/components/recipe/view/InstructionStep.test.tsx
  tests/unit/components/recipe/view/RecipeActions.test.tsx
  tests/unit/components/recipe/view/RecipeMetadata.test.tsx
  tests/unit/components/recipe/view/RecipeViewPage.test.tsx
  tests/unit/components/recipe/view/RecipeViewSkeleton.test.tsx
  tests/unit/components/recipe/view/ReviewItem.test.tsx
  tests/unit/components/recipe/view/ReviewModal.test.tsx
  tests/unit/components/recipe/view/ServingsScaler.test.tsx
  tests/unit/components/recipe/view/StarRatingDisplay.test.tsx
  tests/unit/components/recipe/view/TagsSection.test.tsx
  tests/unit/hooks/use-session-storage.test.ts
  tests/unit/lib/validation/review-schemas.test.ts
Labels: javascript, testing, frontend, hooks

fix(create-recipe): fixed issue with browse favorites not showing recipes
  src/app/(main)/recipes/favorites/page.tsx
  src/types/recipe-management/favorite.ts
  tests/integration/frontend/favorites.test.tsx
  tests/unit/app/recipes/favorites/page.test.tsx
  tests/unit/hooks/recipe-management/useFavorites.test.tsx
  tests/unit/lib/api/recipe-management/favorites.test.ts
Labels: javascript, testing, frontend, types

fix(create-recipe): fixed issue with list view not opening recipes
  src/components/recipe/RecipeListItem.tsx
  tests/unit/components/recipe/RecipeListItem.test.tsx
Labels: javascript, testing, frontend

refactor(browse-recipes): updated 'add-to-collection' icon to be more self-descriptive
  src/components/recipe/view/RecipeActions.tsx
  src/components/recipe/view/RecipeViewPage.tsx
  tests/unit/components/recipe/view/RecipeActions.test.tsx
  tests/unit/components/recipe/view/RecipeViewPage.test.tsx
Labels: javascript, testing, frontend

fix(view-recipe): fixed breadcrumb issue with view recipe page
  src/app/(main)/recipes/[id]/page.tsx
  src/app/(main)/recipes/favorites/page.tsx
  src/app/(main)/recipes/my-recipes/page.tsx
  src/app/(main)/recipes/trending/page.tsx
  src/components/recipe/view/RecipeViewPage.tsx
  src/hooks/use-breadcrumbs.ts
  src/stores/ui/breadcrumb-store.ts
  tests/unit/app/recipes/[id]/page.test.tsx
  tests/unit/app/recipes/favorites/page.test.tsx
  tests/unit/app/recipes/my-recipes/page.test.tsx
  tests/unit/app/recipes/trending/page.test.tsx
  tests/unit/components/recipe/view/RecipeViewPage.test.tsx
Labels: javascript, testing, frontend, hooks, state-management

Recipe page fixes (#177)
  src/app/(main)/recipes/[id]/page.tsx
  src/app/(main)/recipes/favorites/page.tsx
  src/app/(main)/recipes/my-recipes/page.tsx
  src/app/(main)/recipes/trending/page.tsx
  src/components/recipe/RecipeListItem.tsx
  src/components/recipe/view/RecipeActions.tsx
  src/components/recipe/view/RecipeViewPage.tsx
  src/hooks/use-breadcrumbs.ts
  src/stores/ui/breadcrumb-store.ts
  src/types/recipe-management/favorite.ts
  tests/integration/frontend/favorites.test.tsx
  tests/unit/app/recipes/[id]/page.test.tsx
  tests/unit/app/recipes/favorites/page.test.tsx
  tests/unit/app/recipes/my-recipes/page.test.tsx
  tests/unit/app/recipes/trending/page.test.tsx
  tests/unit/components/recipe/RecipeListItem.test.tsx
  tests/unit/components/recipe/view/RecipeActions.test.tsx
  tests/unit/components/recipe/view/RecipeViewPage.test.tsx
  tests/unit/hooks/recipe-management/useFavorites.test.tsx
  tests/unit/lib/api/recipe-management/favorites.test.ts
Labels: javascript, testing, frontend, hooks, state-management, types

.github/labeler.yml:

# PR Labeler Configuration
# Automatically label pull requests based on changed files

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - 'docs/**'

# GitHub
github:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

# GitHub Actions
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'Dockerfile*'
          - 'docker-compose*.yml'
          - '.dockerignore'

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.yml'
          - '**/*.yaml'
          - '**/*.json'
          - '**/*.config.*'
          - '.env.example'
          - 'tsconfig*.json'

# JavaScript/TypeScript
javascript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/*.jsx'
          - '**/*.ts'
          - '**/*.tsx'
          - 'src/**'

# Tests
testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.*'
          - '**/*.spec.*'
          - 'tests/**'
          - '__tests__/**'
          - 'test/**'
          - 'jest.config.*'
          - 'playwright.config.*'
          - 'vitest.config.*'

# Components
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/components/**'
          - 'src/app/**'

# Hooks
hooks:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/hooks/**'

# API Integration
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/lib/api/**'

# State Management
state-management:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/stores/**'

# Types
types:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/types/**'
          - '**/*.d.ts'

# Styles
styling:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.css'
          - '**/*.scss'
          - '**/*.sass'
          - 'tailwind.config.*'
          - 'src/styles/**'

# CI/CD
ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/actions/**'

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'SECURITY.md'
          - '.github/workflows/security.yml'
          - '.github/workflows/codeql.yml'
          - '.secrets.baseline'
          - '.gitleaks*'
