Repository Recipe-Web-App/recipe-ui-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, javascript, testing, frontend, hooks, api, state-management, types, styling, ci-cd, security

bd daemon sync: 2026-02-06 16:50:58
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:23
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:28
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:32
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:36
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:39
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:42
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:43
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:45
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:47
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:48
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:50
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:52
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:53
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:56
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:58
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 16:51:59
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 17:08:27
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 17:08:30
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-06 17:08:31
  .beads/issues.jsonl
Labels: none

feat(types): update recipe-scraper type layer to v2 schema
  src/config/services.ts
  src/lib/api/recipe-scraper/client.ts
  src/lib/api/recipe-scraper/health.ts
  src/lib/api/recipe-scraper/index.ts
  src/types/recipe-scraper/allergens.ts
  src/types/recipe-scraper/enums.ts
  src/types/recipe-scraper/health.ts
  src/types/recipe-scraper/index.ts
  src/types/recipe-scraper/nutrition.ts
  src/types/recipe-scraper/responses.ts
  tests/e2e/accessibility/accessibility.test.ts
  tests/unit/hooks/recipe-scraper/use-recipe-scraper-health.test.tsx
  tests/unit/hooks/recipe-scraper/use-recipe-scraper-nutrition.test.tsx
  tests/unit/lib/api/recipe-scraper/client.test.ts
  tests/unit/lib/api/recipe-scraper/health.test.ts
  tests/unit/lib/api/recipe-scraper/nutrition.test.ts
Labels: javascript, testing, api, types

feat(recipe-scraper): update API, hooks, and tests for v2 schema
  src/constants/index.ts
  src/hooks/recipe-scraper/index.ts
  src/hooks/recipe-scraper/use-recipe-scraper-admin.ts
  src/hooks/recipe-scraper/use-recipe-scraper-allergens.ts
  src/hooks/recipe-scraper/use-recipe-scraper-health.ts
  src/hooks/recipe-scraper/use-recipe-scraper-ingredients.ts
  src/hooks/recipe-scraper/use-recipe-scraper-nutrition.ts
  src/hooks/recipe-scraper/use-recipe-scraper-pairing.ts
  src/hooks/recipe-scraper/use-recipe-scraper-recipes.ts
  src/lib/api/recipe-scraper/admin.ts
  src/lib/api/recipe-scraper/allergens.ts
  src/lib/api/recipe-scraper/health.ts
  src/lib/api/recipe-scraper/index.ts
  src/lib/api/recipe-scraper/ingredients.ts
  src/lib/api/recipe-scraper/nutrition.ts
  src/lib/api/recipe-scraper/pairing.ts
  src/lib/api/recipe-scraper/recipes.ts
  tests/unit/config/services.test.ts
  tests/unit/hooks/recipe-scraper/use-recipe-scraper-admin.test.tsx
  tests/unit/hooks/recipe-scraper/use-recipe-scraper-allergens.test.tsx
  tests/unit/hooks/recipe-scraper/use-recipe-scraper-health.test.tsx
  tests/unit/hooks/recipe-scraper/use-recipe-scraper-ingredients.test.tsx
  tests/unit/hooks/recipe-scraper/use-recipe-scraper-nutrition.test.tsx
  tests/unit/hooks/recipe-scraper/use-recipe-scraper-pairing.test.tsx
  tests/unit/hooks/recipe-scraper/use-recipe-scraper-recipes.test.tsx
  tests/unit/lib/api/recipe-scraper/admin.test.ts
  tests/unit/lib/api/recipe-scraper/allergens.test.ts
  tests/unit/lib/api/recipe-scraper/client.test.ts
  tests/unit/lib/api/recipe-scraper/health.test.ts
  tests/unit/lib/api/recipe-scraper/ingredients.test.ts
  tests/unit/lib/api/recipe-scraper/nutrition.test.ts
  tests/unit/lib/api/recipe-scraper/pairing.test.ts
  tests/unit/lib/api/recipe-scraper/recipes.test.ts
Labels: javascript, testing, hooks, api

chore: resolved merge conflicts (#312)
  package-lock.json
Labels: dependencies, configuration

.github/labeler.yml:

# PR Labeler Configuration
# Automatically label pull requests based on changed files

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - 'docs/**'

# GitHub
github:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

# GitHub Actions
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'Dockerfile*'
          - 'docker-compose*.yml'
          - '.dockerignore'

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.yml'
          - '**/*.yaml'
          - '**/*.json'
          - '**/*.config.*'
          - '.env.example'
          - 'tsconfig*.json'

# JavaScript/TypeScript
javascript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/*.jsx'
          - '**/*.ts'
          - '**/*.tsx'
          - 'src/**'

# Tests
testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.*'
          - '**/*.spec.*'
          - 'tests/**'
          - '__tests__/**'
          - 'test/**'
          - 'jest.config.*'
          - 'playwright.config.*'
          - 'vitest.config.*'

# Components
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/components/**'
          - 'src/app/**'

# Hooks
hooks:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/hooks/**'

# API Integration
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/lib/api/**'

# State Management
state-management:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/stores/**'

# Types
types:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/types/**'
          - '**/*.d.ts'

# Styles
styling:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.css'
          - '**/*.scss'
          - '**/*.sass'
          - 'tailwind.config.*'
          - 'src/styles/**'

# CI/CD
ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/actions/**'

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'SECURITY.md'
          - '.github/workflows/security.yml'
          - '.github/workflows/codeql.yml'
          - '.secrets.baseline'
          - '.gitleaks*'
