Repository Recipe-Web-App/recipe-ui-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, javascript, testing, frontend, hooks, api, state-management, types, styling, ci-cd, security

fix: fixed text color in text area variants
  src/lib/ui/textarea-variants.ts
Labels: javascript

feat: added password confirmation to registration form
  src/components/forms/RegisterForm.tsx
  src/lib/forms/auth-schemas.ts
  tests/unit/components/forms/RegisterForm.test.tsx
  tests/unit/lib/forms/auth-schemas.test.ts
Labels: javascript, testing, frontend

chore: updated text field default colors to use primary
  src/lib/ui/input-variants.ts
  tests/unit/components/ui/Input.test.tsx
Labels: javascript, testing

feat(page-components): added browse-grid component
  src/app/components-demo/browse-grid/page.tsx
  src/app/components-demo/page.tsx
  src/components/ui/browse-grid.stories.mdx
  src/components/ui/browse-grid.tsx
  src/config/navigation.ts
  src/lib/ui/browse-grid-variants.ts
  src/types/ui/browse-grid.ts
  tests/unit/components/ui/BrowseGrid.test.tsx
Labels: documentation, javascript, testing, frontend, types

feat(page-components): added browse-list component
  src/app/components-demo/browse-list/page.tsx
  src/app/components-demo/page.tsx
  src/components/ui/browse-list.stories.mdx
  src/components/ui/browse-list.tsx
  src/config/navigation.ts
  src/lib/ui/browse-list-variants.ts
  src/types/ui/browse-list.ts
  tests/unit/components/ui/BrowseList.test.tsx
Labels: documentation, javascript, testing, frontend, types

feat(page-components): added view-toggle component
  src/app/components-demo/page.tsx
  src/app/components-demo/view-toggle/page.tsx
  src/components/ui/view-toggle.stories.mdx
  src/components/ui/view-toggle.tsx
  src/config/navigation.ts
  src/lib/ui/view-toggle-variants.ts
  src/stores/ui/view-preference-store.ts
  src/types/ui/view-toggle.ts
  tests/unit/components/ui/ViewToggle.test.tsx
  tests/unit/stores/ui/view-preference-store.test.ts
Labels: documentation, javascript, testing, frontend, state-management, types

feat(page-components): added quick-action component
  src/app/components-demo/page.tsx
  src/app/components-demo/quick-actions/page.tsx
  src/components/ui/quick-actions.stories.mdx
  src/components/ui/quick-actions.tsx
  src/lib/ui/quick-actions-variants.ts
  src/types/ui/quick-actions.ts
  tests/unit/components/ui/quick-actions.test.tsx
Labels: documentation, javascript, testing, frontend, types

feat(recipe-collections): update recipe management API client with collection endpoints
  src/constants/index.ts
  src/hooks/forms/useProfileForm.ts
  src/hooks/recipe-management/useCollectionCollaborators.ts
  src/hooks/recipe-management/useCollectionRecipes.ts
  src/hooks/recipe-management/useCollections.ts
  src/lib/api/recipe-management/collection-collaborators.ts
  src/lib/api/recipe-management/collection-recipes.ts
  src/lib/api/recipe-management/collections.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/collection.ts
  src/types/recipe-management/common.ts
  src/types/recipe-management/index.ts
  tests/unit/hooks/recipe-management/useCollectionCollaborators.test.tsx
  tests/unit/hooks/recipe-management/useCollectionRecipes.test.tsx
  tests/unit/hooks/recipe-management/useCollections.test.tsx
  tests/unit/lib/api/recipe-management/collection-collaborators.test.ts
  tests/unit/lib/api/recipe-management/collection-recipes.test.ts
  tests/unit/lib/api/recipe-management/collections.test.ts
Labels: javascript, testing, hooks, api, types

fix(es-lint): resolved es-lint upgrade issues & addressed all new findings
  eslint.config.mjs
  package-lock.json
  src/app/components-demo/datepicker/page.tsx
  src/app/components-demo/error-alert/page.tsx
  src/app/components-demo/error-page/page.tsx
  src/app/components-demo/pagination/page.tsx
  src/app/components-demo/slider/page.tsx
  src/components/error/ComponentErrorBoundary.tsx
  src/components/ui/content.tsx
  src/components/ui/icon.tsx
  src/components/ui/rating.tsx
  src/components/ui/spinner.tsx
  src/hooks/forms/useIngredientForm.ts
  src/hooks/forms/useProfileForm.ts
  src/hooks/forms/useRecipeForm.ts
  src/hooks/forms/useSearchForm.ts
Labels: dependencies, configuration, javascript, frontend, hooks

feat(recipe-comments): added API client support for reicpe comments
  src/constants/index.ts
  src/hooks/recipe-management/useRecipeComments.ts
  src/hooks/recipe-management/useRecipes.ts
  src/lib/api/recipe-management/comments.ts
  src/lib/api/recipe-management/recipes.ts
  src/types/recipe-management/comment.ts
  src/types/recipe-management/recipe.ts
  tests/unit/hooks/recipe-management/useRecipeComments.test.tsx
  tests/unit/hooks/recipe-management/useRecipes.test.tsx
  tests/unit/lib/api/recipe-management/comments.test.ts
Labels: javascript, testing, hooks, api, types

chore: updated package-lock
  package-lock.json
Labels: dependencies, configuration

feat(recipe-favorites): updated client to support new recipe-favorite endpoints
  eslint.config.mjs
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useFavorites.ts
  src/lib/api/recipe-management/favorites.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/favorite.ts
  src/types/recipe-management/index.ts
  tests/integration/frontend/favorites.test.tsx
  tests/unit/hooks/recipe-management/useFavorites.test.tsx
  tests/unit/lib/api/recipe-management/favorites.test.ts
Labels: configuration, javascript, testing, hooks, api, types

feat(notification-service): added api client for the notification-service
  src/config/services.ts
  src/constants/index.ts
  src/hooks/notification/index.ts
  src/hooks/notification/useNotificationStatus.ts
  src/hooks/notification/useShareRecipe.ts
  src/lib/api/notification/client.ts
  src/lib/api/notification/index.ts
  src/lib/api/notification/management.ts
  src/lib/api/notification/share.ts
  src/types/notification/common.ts
  src/types/notification/index.ts
  src/types/notification/notification.ts
  src/types/notification/share.ts
  tests/unit/hooks/notification/useNotificationStatus.test.tsx
  tests/unit/hooks/notification/useShareRecipe.test.tsx
  tests/unit/lib/api/notification/client.test.ts
  tests/unit/lib/api/notification/index.test.ts
  tests/unit/lib/api/notification/management.test.ts
  tests/unit/lib/api/notification/share.test.ts
Labels: javascript, testing, hooks, api, types

feat(entity-components): added collection-filters component
  src/app/components-demo/collection-filters/page.tsx
  src/app/components-demo/page.tsx
  src/components/collection/CollectionFilters.tsx
  src/components/collection/index.ts
  src/types/collection/filters.ts
  tests/unit/components/collection/CollectionFilters.test.tsx
Labels: javascript, testing, frontend, types

feat(entity-components): added collection-browse-grid component
  src/app/components-demo/collection-browse-grid/page.tsx
  src/app/components-demo/page.tsx
  src/components/collection/CollectionBrowseGrid.tsx
  src/components/ui/quick-actions.tsx
  src/types/collection/browse-grid.ts
  tests/unit/components/collection/CollectionBrowseGrid.test.tsx
  tests/unit/components/collection/CollectionCard.test.tsx
Labels: javascript, testing, frontend, types

feat(entity-components): added recipe-quick-actions component
  src/app/components-demo/page.tsx
  src/app/components-demo/recipe-filters/page.tsx
  src/app/components-demo/recipe-quick-actions/page.tsx
  src/components/recipe/AddToCollectionModal.tsx
  src/components/recipe/QuickViewRecipeModal.tsx
  src/components/recipe/RecipeQuickActions.stories.mdx
  src/components/recipe/RecipeQuickActions.tsx
  src/components/recipe/ShareRecipeModal.tsx
  src/components/recipe/recipe-card-utils.tsx
  src/config/navigation.ts
  src/types/recipe/quick-actions.ts
  tests/unit/components/recipe/AddToCollectionModal.test.tsx
  tests/unit/components/recipe/RecipeQuickActions.test.tsx
Labels: documentation, javascript, testing, frontend, types

feat(entity-components): added recipe-list components
  src/app/components-demo/page.tsx
  src/app/components-demo/recipe-browse-list/page.tsx
  src/app/components-demo/recipe-list-item/page.tsx
  src/components/recipe/RecipeBrowseList.tsx
  src/components/recipe/RecipeListItem.tsx
  src/lib/ui/recipe-list-item-variants.ts
  src/types/recipe/browse-list.ts
  src/types/ui/recipe-list-item.ts
  tests/unit/components/recipe/RecipeBrowseList.test.tsx
  tests/unit/components/recipe/RecipeListItem.test.tsx
Labels: javascript, testing, frontend, types

feat(entity-components): added recipe-fiter component
  src/app/components-demo/page.tsx
  src/app/components-demo/recipe-filters/page.tsx
  src/components/recipe/RecipeFilters.stories.mdx
  src/components/recipe/RecipeFilters.tsx
  src/lib/ui/recipe-filters-variants.ts
  src/types/recipe/filters.ts
  tests/unit/components/recipe/RecipeFilters.test.tsx
Labels: documentation, javascript, testing, frontend, types

feat(entity-components): added recipe-menu component
  src/app/components-demo/page.tsx
  src/app/components-demo/recipe-menu/page.tsx
  src/components/recipe/RecipeMenu.stories.mdx
  src/components/recipe/RecipeMenu.tsx
  src/components/recipe/recipe-card-utils.tsx
  src/lib/ui/recipe-menu-variants.ts
  src/types/recipe/menu.ts
  tests/unit/components/recipe/RecipeMenu.test.tsx
Labels: documentation, javascript, testing, frontend, types

feat(entity-components): added recipe-card component
  src/app/components-demo/page.tsx
  src/app/components-demo/recipe-card/page.tsx
  src/components/recipe/RecipeCard.tsx
  src/components/recipe/recipe-card-utils.tsx
  src/components/ui/quick-actions.tsx
  src/lib/ui/recipe-card-variants.ts
  src/types/ui/quick-actions.ts
  src/types/ui/recipe-card.ts
  tests/unit/components/recipe/RecipeCard.test.tsx
  tests/unit/components/ui/quick-actions.test.tsx
Labels: javascript, testing, frontend, types

feat(entity-components): added meal-plan-card component
  src/app/components-demo/meal-plan-card/page.tsx
  src/app/components-demo/page.tsx
  src/components/meal-plan/MealPlanCard.tsx
  src/components/meal-plan/MealPlanCardSkeleton.tsx
  src/components/meal-plan/MealPlanMenu.tsx
  src/components/meal-plan/MealPlanQuickActions.tsx
  src/components/meal-plan/meal-plan-card-utils.tsx
  src/lib/ui/meal-plan-card-variants.ts
  src/types/meal-plan/menu.ts
  src/types/meal-plan/quick-actions.ts
  src/types/ui/meal-plan-card.ts
  tests/unit/components/meal-plan/MealPlanCard.test.tsx
  tests/unit/components/meal-plan/MealPlanCardSkeleton.test.tsx
  tests/unit/components/meal-plan/MealPlanMenu.test.tsx
  tests/unit/components/meal-plan/MealPlanQuickActions.test.tsx
Labels: javascript, testing, frontend, types

feat(entity-components): added recipe-grid component
  src/app/components-demo/page.tsx
  src/app/components-demo/recipe-browse-grid/page.tsx
  src/components/recipe/RecipeBrowseGrid.tsx
  src/types/recipe/browse-grid.ts
  tests/unit/components/recipe/RecipeBrowseGrid.test.tsx
Labels: javascript, testing, frontend, types

feat(entity-components): added collection-card component
  src/app/components-demo/collection-card/page.tsx
  src/app/components-demo/page.tsx
  src/components/collection/CollectionCard.tsx
  src/components/collection/CollectionMenu.tsx
  src/components/collection/CollectionQuickActions.tsx
  src/components/collection/collection-card-utils.tsx
  src/components/recipe/RecipeQuickActions.stories.mdx
  src/lib/ui/collection-card-variants.ts
  src/types/collection/menu.ts
  src/types/collection/quick-actions.ts
  src/types/ui/collection-card.ts
  tests/unit/components/collection/CollectionCard.test.tsx
  tests/unit/components/collection/CollectionMenu.test.tsx
  tests/unit/components/collection/CollectionQuickActions.test.tsx
  tsconfig.json
Labels: documentation, configuration, javascript, testing, frontend, types

feat(entity-components): added meal-plan-calendar component
  src/app/components-demo/meal-plan-calendar/page.tsx
  src/app/components-demo/page.tsx
  src/components/meal-plan/DayView.tsx
  src/components/meal-plan/MealPlanCalendar.tsx
  src/components/meal-plan/MealPlanCalendarEmpty.tsx
  src/components/meal-plan/MealPlanCalendarSkeleton.tsx
  src/components/meal-plan/MealSlot.tsx
  src/components/meal-plan/MealView.tsx
  src/components/meal-plan/MonthView.tsx
  src/components/meal-plan/WeekView.tsx
  src/components/meal-plan/index.ts
  src/components/meal-plan/meal-plan-calendar-utils.tsx
  src/lib/ui/meal-plan-calendar-variants.ts
  src/types/ui/meal-plan-calendar.ts
  tests/unit/components/meal-plan/DayView.test.tsx
  tests/unit/components/meal-plan/MealPlanCalendar.test.tsx
  tests/unit/components/meal-plan/MealPlanCalendarEmpty.test.tsx
  tests/unit/components/meal-plan/MealPlanCalendarSkeleton.test.tsx
  tests/unit/components/meal-plan/MealSlot.test.tsx
  tests/unit/components/meal-plan/MealView.test.tsx
  tests/unit/components/meal-plan/MonthView.test.tsx
  tests/unit/components/meal-plan/WeekView.test.tsx
Labels: javascript, testing, frontend, types

feat(entity-components): added meal-plan-browse-grid component
  src/app/components-demo/meal-plan-browse-grid/page.tsx
  src/app/components-demo/page.tsx
  src/components/meal-plan/MealPlanBrowseGrid.tsx
  src/config/navigation.ts
  src/types/meal-plan/browse-grid.ts
  tests/unit/components/meal-plan/MealPlanBrowseGrid.test.tsx
Labels: javascript, testing, frontend, types

feat(entity-components): added meal-plan-filter component
  src/app/components-demo/meal-plan-filters/page.tsx
  src/app/components-demo/page.tsx
  src/components/meal-plan/MealPlanFilters.stories.mdx
  src/components/meal-plan/MealPlanFilters.tsx
  src/types/meal-plan/filters.ts
  tests/unit/components/meal-plan/MealPlanFilters.test.tsx
  tests/unit/types/meal-plan/filters.test.ts
Labels: documentation, javascript, testing, frontend, types

feat(entity-components): added meal-plan-menu component demo
  src/app/components-demo/meal-plan-menu/page.tsx
  src/app/components-demo/page.tsx
Labels: javascript, frontend

feat(entity-components): added meal-plan-quick-actions component demo
  src/app/components-demo/meal-plan-quick-actions/page.tsx
  src/app/components-demo/page.tsx
Labels: javascript, frontend

feat(notification-system): added notification management system
  src/app/components-demo/notification/page.tsx
  src/app/components-demo/page.tsx
  src/components/notification/NotificationBell.tsx
  src/components/notification/NotificationBellContainer.tsx
  src/components/notification/NotificationItem.tsx
  src/components/notification/NotificationList.tsx
  src/components/notification/NotificationPanel.tsx
  src/components/notification/index.ts
  src/lib/ui/notification-bell-variants.ts
  src/lib/ui/notification-item-variants.ts
  src/lib/ui/notification-panel-variants.ts
  src/stores/ui/notification-panel-store.ts
  src/types/ui/notification.ts
  tests/unit/components/notification/NotificationBell.test.tsx
  tests/unit/components/notification/NotificationItem.test.tsx
  tests/unit/stores/ui/notification-panel-store.test.ts
Labels: javascript, testing, frontend, state-management, types

feat(nav): added pages for top-level nav items
  src/app/(main)/account/page.tsx
  src/app/(main)/collections/page.tsx
  src/app/(main)/feed/page.tsx
  src/app/(main)/meal-plans/page.tsx
  src/app/(main)/recipes/page.tsx
  src/app/(main)/shopping-lists/page.tsx
  src/app/(main)/sous-chef/page.tsx
  src/components/layout/mobile-nav-drawer.tsx
  src/components/layout/nav-dropdown.tsx
  src/components/layout/section-hub-page.tsx
  tests/unit/components/layout/nav-dropdown.test.tsx
Labels: javascript, testing, frontend

fix(nav): fixed side-nav dropdown
  src/components/layout/sidebar-nav.tsx
Labels: javascript, frontend

fix(nav): fixed chevron in breadcrumbs
  src/components/ui/breadcrumb.tsx
Labels: javascript, frontend

fix(nav): fixed home path in breadcrumbs
  src/components/ui/breadcrumb.tsx
Labels: javascript, frontend

fix(nav): fixed log out modal
  src/components/auth/logout-modal.tsx
  src/components/layout/mobile-nav-drawer.tsx
  src/components/layout/nav-dropdown.tsx
  tests/unit/components/auth/logout-modal.test.tsx
  tests/unit/components/layout/nav-dropdown.test.tsx
Labels: javascript, testing, frontend

fix(nav): updated secondary sign out button to use confirmation modal
  src/components/layout/user-menu.tsx
Labels: javascript, frontend

fix(nav): fixed log out redirect race condition
  src/app/logged-out/page.tsx
  src/components/auth/logout-modal.tsx
  src/constants/routes.ts
  tests/unit/components/auth/logout-modal.test.tsx
Labels: javascript, testing, frontend

fix(nav): aligned links in home page with links in nav system
  src/app/(main)/favorites/page.tsx
  src/app/(main)/home/page.tsx
  src/app/(main)/profile/page.tsx
  src/app/(main)/settings/page.tsx
  src/app/(main)/shopping/page.tsx
  src/app/(main)/social/page.tsx
  src/components/layout/user-menu.tsx
  src/config/navigation.ts
Labels: javascript, frontend

fix(nav): fixed redirect url when logo is clicked
  src/components/layout/top-nav.tsx
  tests/unit/components/layout/top-nav.test.tsx
Labels: javascript, testing, frontend

chore(proxy): replaced deprecated middleware with proxy
  src/constants/routes.ts
  src/hooks/use-nonce.ts
  src/lib/proxy/auth.ts
  src/lib/proxy/headers.ts
  src/lib/proxy/role.ts
  src/lib/proxy/security-log.ts
  src/proxy.ts
  tests/unit/lib/proxy/auth.test.ts
  tests/unit/lib/proxy/headers.test.ts
  tests/unit/lib/proxy/role.test.ts
  tests/unit/lib/proxy/security-log.test.ts
Labels: javascript, testing, hooks

chore: removed unused recheck depend
  package-lock.json
  package.json
Labels: dependencies, configuration

.github/labeler.yml:

# PR Labeler Configuration
# Automatically label pull requests based on changed files

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - 'docs/**'

# GitHub
github:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'

# GitHub Actions
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'Dockerfile*'
          - 'docker-compose*.yml'
          - '.dockerignore'

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.yml'
          - '**/*.yaml'
          - '**/*.json'
          - '**/*.config.*'
          - '.env.example'
          - 'tsconfig*.json'

# JavaScript/TypeScript
javascript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/*.jsx'
          - '**/*.ts'
          - '**/*.tsx'
          - 'src/**'

# Tests
testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.*'
          - '**/*.spec.*'
          - 'tests/**'
          - '__tests__/**'
          - 'test/**'
          - 'jest.config.*'
          - 'playwright.config.*'
          - 'vitest.config.*'

# Components
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/components/**'
          - 'src/app/**'

# Hooks
hooks:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/hooks/**'

# API Integration
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/lib/api/**'

# State Management
state-management:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/stores/**'

# Types
types:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/types/**'
          - '**/*.d.ts'

# Styles
styling:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.css'
          - '**/*.scss'
          - '**/*.sass'
          - 'tailwind.config.*'
          - 'src/styles/**'

# CI/CD
ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/actions/**'

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'SECURITY.md'
          - '.github/workflows/security.yml'
          - '.github/workflows/codeql.yml'
          - '.secrets.baseline'
          - '.gitleaks*'
